body{ 
  background-color: #011;/*77f*/
  overflow: hidden;
/*div {*/
	/*width: 100px;
	height: 100px;
	padding: 100px;
	margin: 100px;
	background-color: orange;
	border:2px solid orangered;*/
	-webkit-transition-property:all;
	-webkit-transition-duration:1s;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-deplay:1s;
}
body:hover {
	height: 100px;
	background-color: #000;/*21f*/
}
}
html,body{
  margin:0;
  padding:10;
}
